body {
    height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    /* background-color: black; */
    background-image: url(./IMG/bg.png);
    /* background-position: center; */
    background-size: cover;
    /* background-color: #000015; */

    padding-bottom: 30px;
}
h1, h2, span {
    margin: 0;
    padding: 0;
    color: #fff;
}

.container__base {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     

    position: relative;
}

.container__conteudo__principal {
    width: 100%;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    background-color: black;

    border: 1px solid pink;
}

#container__conteudo__principal__cabecalho {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    border-bottom: 1px solid pink;
}
#container__conteudo__principal__cabecalho__abas {
    color: white;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#container__conteudo__principal__corpo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container__conteudo__lista__musica {
    display: none;

    position: absolute;

    margin-bottom: 30px;

    border: 1px solid pink;

    width: 100%;
    max-width: 400px;

    z-index: 10;
}

.container__lado__esquerdo {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.container__lado__direito {
    width: 100%;
    height: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/********************************************************* LADO ESQUERDO */

.container__acao__usuario {
    display: block;
    /* position: relative; */

    width: 100%;
    height: 100%;

    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 2%;
}

.container__informacao__musica {
    position: relative;

    width: 100%;
    max-width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow-y: auto;
}

#container__nome__album {
    position: absolute;

    width: 100%;
    height: 8px;

    opacity: 100;
    display: flex;
    justify-content: center;

    box-sizing: border-box;

}
#container__nome__album h1 {
    font-size: 17px;
    /* letter-spacing: 8px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

#container__nome__artista__nome__musica {
    width: 40%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
#container__nome__artista__nome__musica h2 {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

#container__segundos__musica {
    width: 50px;

    display: flex;
    align-items: flex-end;
}
#container__segundos__musica span {
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

#progresso__musica__tocando {
    width: 100%;
    max-width: 400px;

    height: 3px;

    padding: 0;
    margin: 0;

    background-color: white;

}

.container__arte__capa {
    position: relative;

    width: 100%;
    max-width: 400px;
}

#controle__musica__btn__pausar {
    z-index: 5;
}
#controle__musica__btn__pausar:hover {
    cursor: pointer;
}
#imagem__arte__capa {
    width: 100%;

    opacity: 0.50;
}

.container__controle__musica {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#controle__musica__btn__iniciar:hover {
    cursor: pointer;
}

#controle__musica__btn__direito, 
#controle__musica__btn__esquerdo {
    padding: 2%;

    opacity: 0;
}

.container__lista__musica {
    width: 100%;

    background-color: black;
}
.container__cabecalho__lista__musica {
    width: 100%;
}
.container__cabecalho__lista__musica h1 {
    font-size: 20px;
    text-align: center;
}
.container__musicas__inseridas {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid green; */
}
.container__musicas__inseridas span {
    font-size: 12px;
    font-weight: bold;
}

.container__nome__musica {
    width: 100%;

    overflow: auto;
}
.container__nome__musica span {
    white-space: nowrap;
}

.container__musicas__inseridas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__musicas__inseridas:hover {
    background-color: red;
    cursor: pointer;
}

.container__seta {
    width: 20%;

    text-align: center;
}

.container__nome__artista {
    width: 100%;

    overflow: auto;
}
.container__nome__artista span {
    white-space: nowrap;
}

/********************************************************* LADO DIREITO */

#container__redes__transmissao__musica {
    position: relative;

    width: 100%;
    height: 100%;
    max-width: 400px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container__svg__redes__transmissao__musica {
    z-index: 2;

    width: 100%;
    height: 100%;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__svg__redes__transmissao__musica svg {
    width: 40%;
}


#container__arco__spectrum {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* border: 1px solid blue; */
}
#container__arco__spectrum img {
    position: absolute;

    width: 90%;
    left: 5%;

    height: 100%;
}

.container__rodape {
    z-index: 2;

    align-self: flex-end; 
}
.container__rodape h1 {
    color: pink;
    font-size: 15px;
    font-weight: normal;
}

@media screen and (min-width: 200px) {
    #container__nome__artista__nome__musica {
        width: 50%;
    }
}
@media screen and (min-width: 250px) {
    #container__nome__artista__nome__musica {
        width: 60%;
    }            
}
@media screen and (min-width: 300px) {
    #container__nome__artista__nome__musica {
        width: 65%;
    }            
}
@media screen and (min-width: 400px) {
    #container__nome__artista__nome__musica {
        width: 100%;
        margin-left: 2%;
    }    
    .container__nome__musica, .container__nome__artista {
        overflow: hidden;
    }         
    #container__arco__spectrum img {
        min-width: 300px;
    }
    
}        
@media screen and (min-width: 768px) {
    .container__conteudo__principal {
        max-height: 600px;

        justify-content: space-evenly;
        margin: 2%;

        width: 95%;
        height: 90vh;
        min-height: 500px;
    }
    #container__conteudo__principal__corpo {
        flex-direction: row;
    }
    .container__nome__musica, .container__nome__artista {
        overflow: hidden;
    }
    .container__svg__redes__transmissao__musica {
        min-height: 400px;
    }
}