@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: black;
    /* border: 1px solid red; */

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

picture {
    width: 100%;
    top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}

h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

svg {
    z-index: 2;

    max-width: 200px;
    position: relative;
}

#MUSICA__ANTERIOR, #PROXIMA__MUSICA {
    cursor: pointer;
}

#PAUSE__ {
    display: none;
    position: absolute; 
    top: -30px; 
    left: 0px;
    cursor: pointer;   
}

#PLAY__ {
    cursor: pointer;
}

#_PLAY__LIST_ {
    background-color: grey;

    width: 250px;

    /* margin-bottom: 10%; */
    box-sizing: border-box;
}

#_PLAY__LIST_ table {
    width: 100%;
    border-collapse: collapse;
    background-color: #363636;
    color: white;
}

._PLAY__LIST__HEADER_ th{
    padding: 5%;
}

.TR_PLAYLIST_INNERHTML td {
    padding: 2%;
}

._PLAY__LIST__BODY_ h2 {
    font-size: 12px;
    color: #fff;
    font-weight: normal;    
}



.album--cover {
    position: absolute;
    height: 100%;
    width: 100%;

    bottom: 0;
    left: 0;

    /* max-width: 300px;
    max-height: 300px; */

}

.mudar--musica {
    z-index: 10;
    width: 10px;
    margin: 5%;
}
.play--icon, #PAUSE__ {
    width: 40px;
}


.arco {
    position: absolute;
    top: 0;
    height: 100%;

    width: 100%;
    max-width: 200px;

    z-index: 1;
}

.CONTAINER__PAUSE {
    position: relative;
    width: 250px;
    height: 250px;
}

.container {
    position: relative;
    top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container--svg {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 5%;

    max-width: 160px;
    min-width: 100px;
    min-height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box; 
    /* border: 2px solid green; */
}

#container--album--cover {
    position: relative;
    /* border: 1px solid red; */

    margin-bottom: 20px;

    width: 250px;
    height: 250px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container--album--cover::before {    
    content: "";
    background-image: url('./IMG/cover-min.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.50;
}

.container--btns {
    position: relative;
    width: 100%;
    /* top: 25%; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.svg--vermelho {
    fill: red;
}
.svg--branco {
    fill: #fff;
}
.svg--preto {
    fill:#2c2c2c;    
}

.svg--contorno--branco {
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:2px;
}

.spotify { fill: lime; }
.spotify--logo { fill:#78cd67; }

.youtube, 
.youtubemusic {
    fill:red;
}

.youtubemusic--cirulo {fill:#da0200;}
.youtubemusic--contorno-circulo {stroke:#fff;stroke-width:1.2px;}
.youtubemusic--escrito{fill:#262626;}

.soundcloud--circulo--contorno {fill:url(#Summer);}
.soundcloud--escrito {clip-path:url(#clip-path);}
.soundcloud--escrito--laranja {fill:url(#linear-gradient);}

.arco-ellipse {
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:2px;
    /* border: 1px solid red; */
}